*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg{
    width: 5%;
    height: 100vh;
    /* background-color: #222; */
    display: flex;
    position: absolute;
    align-items: center;
    right: 0;
    /* justify-content: center; */
}
.bar{
    position: fixed;
    right: 50px;
    height: 300px;
    width: 20px;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 150px;
    z-index: 5;
}
.barIcon{
    width: 50%;
    height: 50px;
    background-color: #222;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 15px;
}
.content{
    /* position: absolute; */
    width: 100%;
    height: 10vh;
}
.quad{
    width: 45%;
    height: 100vh;
    float: left;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}
.right{
    width: 55%;
    /* background-color: red; */
}