*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}
body{
    background: linear-gradient(to bottom left, #e7492c, #181818 80%);
}
::-webkit-scrollbar{
    width: 0px;
}
.title{
    text-align: center;
    color: white;
    font-size: 40px;
    width: 66.66%;
    margin-left: 16%;
    display: flex;
    justify-self: center;
    margin-top: 30px;
}
.bg{
    width: 5%;
    height: 100vh;
    display: flex;
    position: absolute;
    align-items: center;
    right: 0;
}
.bar{
    position: fixed;
    right: 50px;
    height: 300px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 150px;
    z-index: 5;
}
.barIcon{
    width: 50%;
    height: 50px;
    border: 2px solid #222;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 15px;
    background-color: transparent;
}
.barIcon:hover{
    background-color: #222;
    border: 0px;
}
.content{
    width: 100%;
    height: 10vh;
}
.quad{
    width: 45%;
    height: 100vh;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    margin-bottom: 30px;
}
.quad img{
    width: 95%;
    float: right;
    border-radius: 5%;
    margin: 0% 2.5%;
}
.right{
    width: 55%;
    margin: 0;
    padding: 0;
}
.quad h1{
    color: white;
    font-weight: 300;
    font-size: 20px;
    width: 80%;
    margin-left: 0;
}
.rightText{
    padding-left: 33.33%;
}
.nomes{
    margin: 0;
    padding: 0;
}